/* Estilos para el contenedor principal de la página */
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424449;
  color: #FFFFFF;
  padding: 20px;
  min-height: 100vh; /* Asegura que el contenedor tenga al menos el alto de la ventana del navegador */
}

/* Estilos para el título principal */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para los botones de selección de salas */
.rooms-button {
  background-color: #7289DA;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.rooms-button:hover {
  background-color: #677BC4;
}

/* Estilos para la sección de mensajes de chat */
.chat-messages {
  width: 100%;
  height: calc(100vh - 200px); /* Ajusta la altura de la sección de mensajes de chat para que ocupe el espacio restante de la ventana del navegador después de restar la altura del header y del footer */
  overflow-y: scroll;
  padding: 10px;
  background-color: #c9c9c9;
  border-radius: 5px;
  color: #000000;
}

.chat-messages div {
  margin-bottom: 10px;
}

/* Estilos para la sección de envío de mensajes */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  background-color: #c9c9c9;
  color: #0a0a0a;
}

.users-connected-container {
  position: fixed;
  left: 0;
  top: 35%; /* opcional, para centrar verticalmente */
  transform: translateY(-50%); /* opcional, para centrar verticalmente */
}

/* Estilos para el contenedor de botón de logout */
.btn-logout-container {
  position: absolute;
  top: 10%;
  left: 0;
  margin: 10px;
}


