.connected-container {
  position: relative;
  margin-left: 10px; 
  background-color: #afb0b1;
  height: 305px;
  width: 100%;
}

.btn-users-connected {
  display: none; /* Oculta el botón por defecto */
}

@media (max-width: 500px) {
  .connected-container {
    height: auto;
    top: -180px;
    left: 270px;
  }

  .btn-users-connected {
    display: block;
    position: absolute;
    top: 200px;
    right: 200px;
  }
}
